<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>The Tech Blog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a> 
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}| 
        <button class="no-button" id="logout-link">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}} 
      {{!-- This will be the all-posts--}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script> 
  {{/if}}
</body>

</html>
