<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{req.session.username}}!</h2>
  </div>
</div>

<button><a href="/dashboard/new">add post</a></button>

{{#each posts}}

{{/each}}


<script src="./js/dashboard.js"></script>
