<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

<button><a href="/dashboard/new">add post</a></button>

{{#if posts.length}}
<section>{{#each posts as |post|}}
{{> post-content}}
<a href="/api/post/{{id}}" class="editlink">Update Post</a>
{{/each}}
</section>
{{/if}}

<script src="/js/dashboard.js"></script>
