<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

<button><a href="/dashboard/new">add post</a></button>

{{#each posts as |post|}}
{{> post-content}}
{{/each}}


<script src="/js/dashboard.js"></script>
